// Media query breakpoints
$small-phone-breakpoint: 448px;
$big-phone-breakpoint: 768px;
$tablet-breakpoint: 992px;
$desktop-breakpoint: 1200px;

// Reusable background colors
$background-dark: #181a1b;