$background-dark: #181a1b;

.gridWrapper {
    > table {
        > tbody {
            > tr {
                > td {
                    background-color: $background-dark;
                    width: 30px;
                    height: 30px;
                    border: 1px white solid;
                }
            }
        }
    }
}