@use '../../global';

.gridWrapper {
    padding: 5px;
    > table {

        border-spacing: 0px;
        border: 1px white solid;  
        > tbody {
          
            > tr {
                // Table Row Alignment
                display: flow-root;
                > td {

                    // Individual cell styling
                    background-color: global.$background-dark;
                    width: 36px;
                    height: 36px;
                    padding: 0px;

                    border: 1px white solid;
                    color: white;


                    // Font Styling
                    font-weight: bold;
                    font-size: 30px;

                    // Font Alignment
                    align-items: center;
                    justify-content: center;
                    
                }
            }
        }
    }
}

@media (max-width: global.$small-phone-breakpoint) {
    .gridWrapper>table>tbody>tr>td {
        width: 30px;
        height: 30px;
    }
}