@use '../../global';

.gridWrapper {

    // Gives space between each grid
    padding: 5px;

    >table {

        // Remove border since each cell will have a border
        border-spacing: 0px;
        // Added to have a 2px border all around
        border: 1px white solid;

        >tbody {

            >tr {
                // Table Row Alignment
                display: flow-root;

                >td {

                    // Individual cell styling
                    background-color: global.$background-dark;
                    width: 36px;
                    height: 36px;
                    padding: 0px;

                    // Cell Border
                    border: 1px white solid;
                    color: white;


                    // Font Styling
                    font-weight: bold;
                    font-size: 30px;

                    // Font Alignment
                    align-items: center;
                    justify-content: center;

                }
            }
        }
    }
}

@media (max-width: global.$small-phone-breakpoint) {
    .gridWrapper>table>tbody>tr>td {

        // Cell Sizing
        width: 31px;
        height: 31px;
        font-size: 26px;
    }
}