@use '../../global';

.gameWrapper {

    >#sliders {
        // Affects the sliders to adjust grid amnt and word length
        margin: auto;

        >tbody>tr {
            >td {
                // Vertical alignment
                align-items: center;

                >span {
                    font-size: 16px;
                    margin-right: 5px;

                    // Forces text left to create cleaner look
                    float: left;
                }

                td>input {
                    margin: 0px;
                    position: relative;
                    top: 2px;
                }
            }
        }

    }

    >.titleWrapper {

        color: #F08080;
        margin: 10px;

        // Flex properties and alignment
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        >h3 {
            font-size: 25px;
            margin: 0px;
        }

        >button {
            // New game button

            // Colors
            background-color: global.$background-dark;
            color: white;

            // Appearance
            font-size: 15px;
            border: 1px white solid;
            height: 25px;
            margin-right: 10px;

            &:hover {
                // Forces pointer mouse since it wouldn't do it
                cursor: pointer;
            }
        }
    }

    >.gridDiv {
        // Flex properties
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    >.warning {
        margin-top: 5px;

        >span {
            color: red;
            font-size: 16px;
        }
    }
}