$correct: #008000;
$elsewhere: #daa520;

.homeWrapper {
    width: 100vw;
    height: 100vh;
    font-size: calc(10px + 2vmin);

    .headerDiv {
        text-align: center;
        margin-top: 20px;
    }

    >table {
        justify-content: center;
        margin: 20px auto;

        // Removes border lines and squishes the cells together
        border: none;
        border-collapse: collapse;

        
        >tbody {

            >tr {
                >td {
                    >div {
                        padding: 2px 2px
                    }
                }

                >.left,
                .right {
                    // Equalizes the space taken up
                    width: 50%;
                }

                >.left {
                    // Forces text to shove right
                    text-align: right;
                }

                >.right {
                    // Forces text to shove left
                    text-align: left;
                }

                >.play,
                .github {
                    background-color: $elsewhere;
                }

                >.wordle,
                .cc {
                    background-color: $correct;
                }

                >.names,
                .view {
                    background-color: gray;
                }

            }
        }
    }
}

Link,
a {
    // Remove the blue and underlined for links
    text-decoration: none;
    color: white;

    >div {
        padding: 2px 2px
    }
}

#playBtn:hover,
#github:hover {
    // Forces pointer mouse
    cursor: pointer;
}