$correct: #008000;
$elsewhere: #daa520;

.homeWrapper {
    width: 100vw;
    height: 100vh;

    .headerDiv {
        text-align: center;
        margin-top: 20px;
    }

    > table {
        justify-content: center;
        border: none;
        border-collapse: collapse;
        margin: 20px auto;
        >tbody {

        >tr {
            >td{
                >div {
                    padding: 2px 2px
                }
            }

            >.left, .right {
                width: 50%;           
            }

            >.left {
                text-align: right;
            }

            >.right {
                text-align: left;
            }

            >.play, .github {
                background-color: $elsewhere;
            }

            >.wordle, .cc {
                background-color: $correct;
            }

            >.names, .view {
                background-color: gray;
            }

            }
        }
    }
}

  Link, a {
      text-decoration: none;
      color: white;
      >div {
        padding: 2px 2px
    }
  }

  #playBtn:hover, #github:hover {
      cursor: pointer;
  }