$background-dark: #4E4847;


.keyboardWrapper {
    >div>button {
        background-color: $background-dark;
        padding: auto;
        font-size: 30;
        border: 1px grey solid;
        color: rgb(226, 17, 156);
        font-weight: bold;
        align-items: center;
        justify-content: center;
    }
}